{% verbatim %}
    <form>
        <h4>{{title}}
            {{#if finished}}
                DONE
            {{/if}}
            {{#if editing}}
                <button type="submit" class="btn btn-link" {{action 'save' }}>save</button>
            {{else}}
                <button type="button" class="btn btn-link" {{action 'edit'}}>edit</button>
            {{/if}}
        </h4>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Status:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    <div class="form-group">
                        {{view "select" content=statusOptions
                                        optionLabelPath="content"
                                        optionValuePath="content"
                                        selection=status
                                        value=status}}
                    </div>
                {{else}}
                    {{status}}
                {{/if}}
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Client:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    <div class="form-group">
                        {{view Ember.Select content=users
                                            optionLabelPath="content.fullName"
                                            optionValuePath="content.id"
                                            prompt="Pick a user:"
                                            selection=client.content}}

                    </div>
                {{else}}
                    {{client.fullName}}
                {{/if}}
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Consultant:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    <div class="form-group">
                        {{view Ember.Select content=users
                                            optionLabelPath="content.fullName"
                                            optionValuePath="content.id"
                                            prompt="Pick a user:"
                                            selection=consultant.content}}
                    </div>
                {{else}}
                    {{consultant.fullName}}
                {{/if}}
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Due Date:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    {{view Tickets.DateField date=due_date}}
                {{else}}
                    {{formattedDueDate}}
                {{/if}}
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Date Submitted:</div>
            <div class="col-sm-10">{{formattedDateSubmitted}}</div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Last Updated:</div>
            <div class="col-sm-10">{{formattedLastUpdated}}</div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Ticket Description:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    <div class="form-group">
                        {{textarea class="form-control" value=description rows="6"}}
                    </div>
                {{else}}
                    {{description}}
                {{/if}}
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-sm-2 ticket-title">Progress Report:</div>
            <div class="col-sm-10">
                {{#if editing}}
                    <div class="form-group">
                        {{textarea class="form-control" value=progress_report rows="6"}}
                    </div>
                {{else}}
                    {{progress_report}}
                {{/if}}
            </div>
        </div>
    </form>
{% endverbatim %}