{% verbatim %}
<label>
    {{input type="checkbox" class="checkbox" checked=viewFinished}} view finished?
</label>
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Title
                <span class="glyphicon glyphicon-sort sort-btn" {{action 'sortBy' 'title' on="click"}}></span>
            </th>
            <th>Status
                <span class="glyphicon glyphicon-sort sort-btn" {{action 'sortBy' 'status' on="click"}}></span>
            </th>
            <th>Client
                <span class="glyphicon glyphicon-sort sort-btn" {{action 'sortBy' 'client.fullName' on="click"}}></span>
            </th>
            <th>Consultant
                <span class="glyphicon glyphicon-sort sort-btn" {{action 'sortBy' 'consultant.fullName' on="click"}}></span>
            </th>
            <th>Due date
                <span class="glyphicon glyphicon-sort sort-btn" {{action 'sortBy' 'due_date' on="click"}}></span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each ticket in viewableTickets}}
            <tr>
                <td>
                    {{#link-to 'ticket' ticket.id}}
                        {{ticket.title}}
                    {{/link-to}}
                </td>
                <td>
                    {{ticket.status}}
                </td>
                <td>
                    {{ticket.client.fullName}}
                </td>
                <td>
                    {{ticket.consultant.fullName}}
                </td>
                <td>
                    {{ticket.formattedDueDate}}
                </td>
    </tr>
        {{/each}}
    </tbody>
</table>

{% endverbatim %}