{% verbatim %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Client</th>
            <th>Consultant</th>
            <th>Due date</th>
        </tr>
    </thead>
    <tbody>
        {{#each ticket in tickets}}
            <tr>
                <td>
                    {{#link-to 'ticket' ticket.id}}
                        {{ticket.title}}
                    {{/link-to}}
                </td>
                <td>
                    {{ticket.status}}
                </td>
                <td>
                    {{ticket.client.fullName}}
                </td>
                <td>
                    {{ticket.consultant.fullName}}
                </td>
                <td>
                    {{ticket.formattedDueDate}}
                </td>
    </tr>
        {{/each}}
    </tbody>
</table>

{% endverbatim %}