{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="userId" content="{{current_user}}"/>
    <meta name="csrf-token" content="{{ csrf_token }}"/>
    <title>Martin Consulting</title>

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'pikaday/css/pikaday.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/tickets.css' %}"/>
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>

    </script>
</head>
<body>
    {% block content %}
        <script type="text/x-handlebars" data-template-name="base">
            {% include 'ember-templates/currentuser-base.html' %}
        </script>

        <script type="text/x-handlebars" data-template-name="tickets">
            {% include 'ember-templates/tickets-base.html' %}
        </script>

        <script type="text/x-handlebars" data-template-name="tickets/index">
            {% include 'ember-templates/tickets-index.html' %}
        </script>

        <script type="text/x-handlebars" data-template-name="users">
            {% include 'ember-templates/users-base.html' %}
        </script>

        <script type="text/x-handlebars" data-template-name="user">
            {% include 'ember-templates/user-base.html' %}
        </script>

        <script type="text/x-handlebars" data-template-name="ticket">
            {% include 'ember-templates/ticket.html' %}
        </script>

        <script type="text/x-handlebars" id="components/tickets-table">
            {% include 'ember-components/tickets-table.html' %}
        </script>

        <script type="text/javascript" src="{% static 'handlebars/handlebars.js' %}"></script>
        <script type="text/javascript" src="{% static 'ember/ember.js' %}"></script>
        <script type="text/javascript" src="{% static 'ember-data/ember-data.js' %}"></script>
        <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'pikaday/pikaday.js' %}"></script>
        <script type="text/javascript" src="{% static 'app.js' %}"></script>
        <script type="text/javascript" src="{% static 'models.js' %}"></script>
        <script type="text/javascript" src="{% static 'routers.js' %}"></script>
        <script type="text/javascript" src="{% static 'controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'components.js' %}"></script>
    {% endblock %}
</body>
</html>